.LoginFields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LoginInputField {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.LoginButtonsField {
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
}

.LoginInputSpan {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  font-weight: 600;
  color: #a19f9f;
  width: 90vw;
}

.LoginImage{
    width: 70%;
    align-self: center;
}

.LoginInputSpan p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 1em;
  color:black;
}

.login_errorMessage{
  font-size: 0.8rem;
    height: 5vh;
    border: 1px solid red;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    color: red;
}