.Register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Register h1 {
    font-size: 1.3em;
    color: #8941e3;
    text-align: center;
}
.Register hr {
    height: 1px;
    background-color: #bfbfbf;
    border: none;
}

.Register_backButton{
    width: 80vw;
}

.Register_backButtonSymbol{
    font-size: 2rem;
    font-weight: 600;
    color: #8941e3;
}
