.CardBody {
    display: flex;
    flex-direction: column;
}

.Card {
    width: 84vw;
    margin-top: 2vh;
    border-radius: 2vh;
    padding: 1vh;
}

.CardTitle{
    font-weight: 600;
    font-size: 1.2rem;
}
